<div id="f">
	<div class="container">
		<div class="text-muted credit">
			<div class="row centered">
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-dribbble"></i></a>
		
			</div><!-- row -->
	</div>
	</div><!-- container -->
</div><!-- Footer -->