

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="project">Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blog">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="review">Review</a>
    </li>
    						
</ul>