<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Profile</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
</head>
<body class="bg-success">
	<div class="container">
        	<div class="jumbotron">
        		<image src="images/me.jpg" id="logo"/>
        		<div class="container">
    				<h1 class="col-lg-1">Arezouma</h1>
    				
					<%- include('partials/header') %> 
    				
  				</div>
  	</div>
  	<br><br>
  	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				
				<h2 class="text-danger">Birth Place</h1>
				<p class="font-weight-bold">Arezouma is born in Sokode in Togo(West Africa) in a large family. She grew up as a wonderful and tolerant girl. Always smiling in her face, she helps neighbors particulary old and younger people. She had her High School Diploma in 1998. In 2011, she obtained a visa for USA.</p>
				
			</div><!-- col-lg-3 -->

			<div class="col-lg-4">
				<h2 class="text-danger">Education</h2>
	   			<p class="font-weight-bold">Arezouma is a student at Lehman College. She is enrolled at Lehman majoring in computer science major after her Associates Degree at Bronx Community College. Actually, she is somophore with 35 credits gained. she attend to Tech Talent Pipeline workshop for this summer. The workshop starts Tuesday, May 29th and will end in June 22nd, 2018</p>
			</div><!-- col-lg-3 -->

			<div class="col-lg-4">
				<h2 class="text-danger">Interests</h2> 

	   		<p class="font-weight-bold">Arezouma has interests in studies. Besides studying computer science, she is interesting to study medical field. She is also interesting in child Care. She likes to take care of her nieces and nephews since she was a child. She is engage in educate people about the benefit of eating healthy food as well as the education of girls in developing countries.</p>
			</div><!-- col-lg-3 -->

		</div><!-- row -->
	</div>
	<br><br>
	<hr>
	<br><br>

<!--Add footer.ejs here-->
	<%- include('partials/footer') %>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>