<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Arezouma Solly Ngobou</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
		
</head>
<body id="body" class="bg-secondary">
	
    <div class="container">
        <div class="jumbotron">
    			<h1 class="col-lg-1">Project</h1>
    			<%- include('partials/header') %>
  		</div>
  	</div>
  	<br><br>
  	<div class="container desc">
		<div class="row">
			<br><br>
			<div class="col-lg-6 centered">
				<img src="images/p03.png" alt="">
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4 class="text-warning">Software engineer </h4>
				<p class="font-weight-bold">First passion</p>
				
			</div>
		</div><!-- row -->
		
		<br><br>
		<hr>
		<br><br>
		<div class="row">
			<div class="col-lg-6 centered">
				<img src="images/p01.png" alt="">
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4 class="text-warning">Software Development</h4>
				<p class="font-weight-bold">Second passion</p>
				
			</div>
		</div><!-- row -->

		<br><br>
		<hr>
		<br><br>
		<div class="row">
			<div class="col-lg-6 centered">
				<img src="images/p02.png" alt="">
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4 class="text-warning">Mobile Design</h4>
				<p class="font-weight-bold">Third passion</p>
				
			</div>
		</div><!-- row -->
		<br><br>
%	<br><br>
	<hr>
	<br><br>
<!--Add footer.ejs here-->
	<%- include('partials/footer') %>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	   
	



</body>
</html>
